 
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">
                <!-- Blog Post -->
                	<h1 style="color: #0F3C73;">Posts in category: <span class="outside-cats">{{page.cat_name}}</span></h1>
                    <div role="main" class="main-content">
                      {{ content }}
                    </div>
					<hr>
            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
				<!--<div class="well">
                    <h4>Search</h4>
                    <div class="input-group">
					<form action="http://www.google.com" id="cse-search-box">
					  <div>
					    <input type="hidden" name="cx" value="" />
					    <input type="hidden" name="ie" value="UTF-8" />
					    <input type="text" name="q" size="20" />
					    <input type="submit" name="sa" value="Search" />
					  </div>
					</form>
					<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>
				</div>
            </div>-->
			    <!-- about me Well -->
				<div class="well">
                    <h4>关于我</h4>
                        <div class="input-group">
                           <p>做人，不能过盛，得意时兀凌人，处高时莫自居，喜怒勿形于色，成败内敛于胸；
                             不能过怨，能甘于檐下，可远离尘世，得失皆身外，是非置脑后；
                             不能过衰，清不避浊，浑能扬清，不弃为人原则，固守尊严底线。</p>
                        </div>
                </div>
                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>栏目分类</h4>
                    <div class="row">
                        <div class="col-lg-6">
								{% for cat in site.categories %}
								{% assign cat_name = cat | first %}
								{% assign cat_size = cat | last | size %}
								{% assign cat_slug = cat_name | slugify  %}
									<a class="bold" href="/category/{{cat_slug | prepend: site.baseurl}}">
										{{cat_name}} ({{cat_size}})
									</a>
                        </div>
                        <div class="col-lg-6">
                        	{% endfor %}
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- Side Widget Well -->

                <!-- Side Widget Well -->
                <div class="well">
                	<h4>最新文章</h4>
                		<ul class="posts" span="recent"> 
							{% for post in site.posts limit:5 %}  
							   <li>  
								   <span>{{ post.date | date_to_string }}</span>
								   <a href="{{ BASE_PATH }}{{ post.url }}">  
								   {{ post.title }}</a>  
							   </li>  
							{% endfor %}  
						</ul>
                </div>
                <!-- Side Widget Well -->
                <div class="well">
                    <h4>标签</h4>
                        <ul>
                            {% for tag in site.tags %}
                            {% assign tag_name = tag | first %}
                            {% assign tag_size = tag | last | size %}
                            {% assign tag_slug = tag_name | slugify  %}
                                <a class="tag-label bold" href="/tag/{{tag_slug | prepend: site.baseurl}}">
                                    {{tag_name}} ({{tag_size}})
                                </a>
                            {% endfor %}
                        </ul>
                </div>
                <div class="well">
                    <h4>联系方式</h4>
					<ul class="list-inline">
                            <li>
								<a href="https://github.com/airrayagroupwebdesign">
									<span class="fa-stack fa-2x">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
									</span>
								</a>
                            </li>
                            <li>
								<a href="http://webdesign.airrayagroup.com">
									<span class="fa-stack fa-2x">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
									</span>
								</a>
                            </li>
                            <li>
								<a href="mailto:liangliang_lau@163.com">
									<span class="fa-stack fa-2x">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
									</span>
								</a>
                            </li>
                            <li>
								<a href="https://bitbucket.org/airrayagroup/">
									<span class="fa-stack fa-2x">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa fa-bitbucket fa-stack-1x fa-inverse"></i>
									</span>
								</a>
                            </li>
                    </ul>
                </div>

            </div>
        </div>
        <!-- /.row -->
       <hr>